---
'use client';

import Layout from '../layouts/BaseLayout.astro';
import UploadButton from '@/components/ui/UploadButton.tsx';
import Footer from "../components/Footer.astro";
import Search from "@/components/ui/Search.tsx";
import RecentUploads from '@/components/ui/RecentUploads';
---

<Layout content={{ title: "Landing Page" }}>
	<div class="min-h-svh flex flex-col max-w-3/4 md:max-w-1/2 mx-auto">
		<main class="grid place-items-center content-center gap-1 md:gap-4 flex-1 md:text-center">
			<h1 class="text-2xl md:text-4xl font-extrabold tracking-tight">
				GenAI Virus and Malware Scanner
			</h1>
			<p class="text-muted-foreground text-md md:text-lg md:text-justify">
				Check all your files and detect malware and easily understand what is wrong with it!
			</p>
			<div class="not-md:flex-col flex w-full not-md:pt-2 md:gap-2">
				<Search />
				<UploadButton uploadUrl="https://caibackend.darrenchanyuhao.com/scan/scan_file"
							  client:load/>
			</div>
			<div class="not-md:flex-col flex w-full not-md:pt-2 md:gap-2">
				<RecentUploads client:load/>
			</div>
		</main>
		<Footer />
	</div>
</Layout>

