---
'use client';

import Layout from '../layouts/BaseLayout.astro';
import UploadButton from '@/components/ui/UploadButton.tsx';
import Footer from "../components/Footer.astro";
---

<Layout content={{ title: "Landing Page" }}>
	<div class="min-h-svh flex flex-col">
		<main class="grid place-items-center content-center gap-4 flex-1">
			<h1 class="text-4xl font-extrabold tracking-tight mb-2">
				GenAI Virus and Malware Scanner
			</h1>
			<p class="text-muted-foreground text-lg mb-6 max-w">
				Check all your files and detect malware and easily understand what is wrong with it!
			</p>
			<UploadButton uploadUrl="https://caibackend.darrenchanyuhao.com/scan/scan_file"
						  client:load/>
		</main>
		<Footer />
	</div>
</Layout>

