---
import { ClientRouter } from "astro:transitions";
---

<div class="flex justify-center items-center gap-4 mb-10 mt-10">
    <a href="https://www.github.com/darrenchanyuhao" target="_blank" rel="noopener noreferrer">
        <img src='/assets/github-icon.svg' alt="GitHub" class="w-10 h-10 not-lg:w-8 not-lg:h-8" />
    </a>
    <a href="https://www.linkedin.com/in/darren-chan-1964a1148/" target="_blank" rel="noopener noreferrer">
        <img src='/assets/linkedin-icon.svg' alt="LinkedIn" class="w-10 h-10 not-lg:w-8 not-lg:h-8" />
    </a>
    <a href="mailto:darrenchanyuhao@gmail.com">
        <img src='/assets/email-icon.png' alt="Email" class="w-10 h-10 not-lg:w-8 not-lg:h-8" />
    </a>
</div>

<ClientRouter/>
